[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "easybio"]
	path = easybio
	url = https://github.com/person-c/easybio
[submodule "r4msigdb"]
	path = r4msigdb
	url = https://github.com/person-c/r4msigdb
	registered = false
